{% extends "layout.html" %}
    {% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fresh meat</title>
    <script type="text/javascript" charset="utf-8">
        var imgDir = '/static/img';
        var animalImages = {
            'Chicken': imgDir + '/chicken-hen.jpg',
            'Pig': imgDir + '/pig.jpg',
            'Pigeon': imgDir + '/pigeon.png',
            'Rat': imgDir + '/rat.jpg',
            'Goat': imgDir + '/goat.jpg',
            'Dog': imgDir + '/dog.jpg',
            'Cat': imgDir + '/cat.jpg',
        }

        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('murder', function(msg) {
                msg = JSON.parse(msg.data);
                console.log(msg);
                //Parse details
                var murder = {
                    animals : msg.animal.name,
                    quantity : msg.quantity,
                    body_part_found : msg.body_part.name,
                    date_started : msg.date_started,
                    date_closed : msg.date_closed,
                    source : msg.source,
                    division : msg.division,
                    form : msg.form,
                    status : msg.status,
                    priority : msg.priority,
                    location : msg.location.address,
                    complaint_type : msg.complaint_type,
                    resolution : msg.resolution
                    }
                    console.log(murder);
        murder.location = murder.location.replace(/"/g, "");
                var imgPart = '';

                tail = "></img>";
                imgPart += "<img height=10% width=10% src="+animalImages[murder.animals]+ tail;

                var description = murder.quantity + ' parts found, ' + murder.body_part_found +
                                '<div style="position: absolute; left:320px; top:10px;">' + murder.date_started + ' -> ' + murder.date_closed + '</div><p>where: <a href=http://maps.google.com/?q=' + encodeURIComponent(murder.location) + '></p>' +
                                murder.location + '</a>' + '<br>resolution: ' + murder.resolution;

                $('<div class="row"> <h4>' + imgPart + description + ' </h4> </div>').hide().prependTo('#feed').slideDown('fast');
            });
        });
    </script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div style="position: relative; left:60%; bottom: 45px;">
<h3> feed</h3>
</div>
    <h4 style="position:relative; left:25%;"> intercepted realtime feed of recent entries marked by the NYC Parks Commission </h4> 
    <h5 style="position:relative; left: 40%"> interecept rate currently at 10 seconds/entry</h5>
    <div class="container-fluid" id="feed" ></div>
    {% endblock %}
</body>
</html>
